
<div id="content">
	<div class="inner-content">
		<div class="blog-page">
			<div class="blog-masonry">

				{{#each articles}}
				<div class="blog-post">
					<div class="gal-content">
						<img alt="" src="/upload/blog9.jpg">
						<div class="blog-hover">
							<a class="read-more" href="/articles/{{@key}}/{{urlTitle}}/">Read More ></a>
						</div>		
					</div>
					<div class="post-title">
						<h2><a href="/articles/{{@key}}/{{urlTitle}}/">{{title}}</a></h2>
						<ul class="post-tags">
							<li><a href="/about/"><i class="fa fa-user"></i>Andrew Maurer</a></li>
							<li><i class="fa fa-calendar"></i> {{displayDate}}</li>
						</ul>
					</div>
					<div class="post-content">
						<p>{{summary}}</p>
					</div>
				</div>
				{{/each}}

			</div>
			<!--
			<a class="load-more" href="#">Load More ></a>
			-->
		</div>
	</div>
</div>