
<div id="content">
	<div class="inner-content">
		<div class="portfolio-page">
			<div class="portfolio-box">
				<!-- http://www.flickr.com/services/api/misc.urls.html -->
				{{#each flickrCollection}}
				<div class="project-post">
					<img alt="{{title._content}}" src="http://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}.jpg">
					<div class="hover-box">
						<div class="hover-content">
							<a href="{{urls.url.[0]._content}}" target="{{id}}"><i class="fa fa-search"></i></a>
							<h2>{{title._content}}</h2>
							<p>{{description._content}}</p>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>