
<div id="content">
	<div class="inner-content">
		<div class="blog-page">
			<div class="blog-masonry">

				{{#each photoSets}}
				<div class="blog-post" itemscope temtype="http://schema.org/Photograph">
					<div class="gal-content">
						<img itemprop="image" alt="{{title._content}}" src="http://farm{{farm}}.staticflickr.com/{{server}}/{{primary}}_{{secret}}_z.jpg" />
						<div class="blog-hover">
							<a class="read-more" href="/photos/{{id}}/{{title._content}}/">Read More ></a>
						</div>		
					</div>
					<div class="post-title">
						<h2><a itemprop="url" href="/photos/{{id}}/{{title._content}}/">{{title._content}}</a></h2>
						<ul class="post-tags">
							<li><a href="#"><i class="fa fa-user"></i><span itemprop="author">Andrew Maurer</span></a></li>
							<li><a href="#"><i class="fa fa-calendar"></i><span itemprop="dateCreated">{{displayDate}}</span></a></li>
							<li><a href="#"><i class="fa fa-comments"></i>{{count_comments}} comments</a></li>
						</ul>
					</div>
					{{#if description._content}}
					<div class="post-content">
						<p itemprop="description">{{description._content}}</p>
					</div>
					{{/if}}
				</div>
				{{/each}}

			</div>
			<!--
			<a class="load-more" href="#">Load More ></a>
			-->
		</div>
	</div>
</div>