<div id="content">
	<div class="inner-content">
		<div class="portfolio-page">
			<h1>{{flickrSet.title._content}}</h1>
			<div class="portfolio-box isotope">
				{{#each flickrSet.photos}}
				{{#if visibility.ispublic}}
				<div class="project-post" itemscope temtype="http://schema.org/Photograph">
					<img itemprop="image" alt="{{title._content}}" src="http://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}.jpg">
					<div class="hover-box">
						<div class="hover-content">
							<a itemprop="url" href="{{urls.url.[0]._content}}" target="maurerdotme-flickr"><i class="fa fa-search"></i></a>
							<h2 itemprop="name">{{title._content}}</h2>
							<p itemprop="description">{{description._content}}</p>
						</div>
					</div>
				</div>
				{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>